<ion-header>
  <ion-toolbar style="--ion-background-color: #2C689F; color: white;">
    <!-- <ion-buttons slot="start">
      <ion-button routerLink="/list" routerDirection="forward">
        <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>
       
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button disabled>
        <ion-icon slot="icon-only" name=""> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="border: 0px solid; margin-top: 0%;">
      <ion-card style="background-color: rgb(255, 255, 255); padding-top: 0%; height: 100px;">
        <div style="padding: 0%;">
          <img src="assets/img/encabezado3.PNG" height="100vh">
        </div>        
      </ion-card>
      </div><br>  
  <div style="border: 0px solid; margin-top: 10%;">
      <!-- <ion-card routerLink="/tab9" style="background-color: rgb(255, 255, 255); padding-top: 0%; height: 140px;">
        <div style="padding: 0%;">
          <img src="assets/img/administracion_solicitudes.PNG" height="140vh">
        </div>        
      </ion-card>    -->
      <ion-card routerLink="/tab5" style="background-color: rgb(255, 255, 255); padding-top: 0%; height: 140px;">
        <div style="padding: 0%;">
          <img src="assets/img/verificar_inventario.PNG" height="140vh">
        </div>        
      </ion-card>
  </div><br><br>
  <ion-button size="block" Color="primary" routerLink="/tabs/tab1">
    Cerrar sesión
  </ion-button> 
</ion-content>


