<ion-header>
    <ion-toolbar>
        <ion-title>
            
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    
    <section style="text-align: center;">
        <ion-text color="primary">
            <h1><b>Registro Paciente</b></h1>
        </ion-text>
    </section>
    <ion-list lines="none">
        <ion-item lines="none">
            <ion-grid>
                <ion-card>
                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label position="stacked"><b>Nombres Completos</b>
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input required type="text"></ion-input>
                        </ion-item>
                    </ion-col>                   
                </ion-row><br>
                <ion-row>
                    <ion-col size="4">
                        <ion-item>
                            <ion-label position="stacked"><b>Tipo ID</b>
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input>
                                <ion-select interface="popover" placeholder="ID">
                                    <ion-select-option value="TI">TI</ion-select-option>
                                    <ion-select-option value="CC">CC</ion-select-option>
                                    <ion-select-option value="CE">CE</ion-select-option>
                                    <ion-select-option value="NIT">NIT</ion-select-option>
                                </ion-select>
                            </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="8">
                        <ion-item>
                                <ion-label position="stacked"><b>Número de documento</b>
                                    <ion-text color="danger">*</ion-text>
                                </ion-label>
                            <ion-input required type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row><br>
            </ion-card>
                <ion-card>
                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label position="stacked"><b>Diagnóstico</b>
                                <ion-text color="danger">*</ion-text>
                            </ion-label><br>
                            <ion-textarea required type="text">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>                   
                </ion-row></ion-card>
            <ion-card>
                <section style="text-align: center;">
                    <ion-text color="primary"><h6><b>REGISTRO PRODUCTOS</b></h6></ion-text>
                </section>
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="stacked"><b>Nombre</b>
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input required type="text"></ion-input>
                        </ion-item>
                        <!--<ion-searchbar></ion-searchbar>-->
                    </ion-col>
                    <ion-col size="4" lines="none">
                        <ion-item>
                            <ion-label position="stacked"><b>Cantidad</b>
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input required type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="2">
                        <ion-input>
                            <ion-fab horizontal="end" vertical="center" slot="fixed">
                                <ion-fab-button size="small" color="primary">
                                    <ion-icon name="add"></ion-icon>
                                </ion-fab-button>
                            </ion-fab>
                        </ion-input>
                    </ion-col>
                </ion-row><br><br>
            </ion-card>
                <ion-row>
                    <ion-col size="3" class="ion-text-center" *ngIf="model.imagen">
                        <ion-img [src]="model.imagen"></ion-img>
                    </ion-col>
                    <ion-col size="{{(model.imagen) ? 8 : 12}}" class="ion-text-end">
                        <ion-button color="light" size="large" shape="round" expand="block" (click)="loadCamera()">
                            <ion-icon slot="icon-only" color="primary" name="camera"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <section style="text-align: center;" routerLink="/tabs/tab2">
            <ion-button>REGRESAR</ion-button><ion-button>ENVIAR</ion-button>
        </section>
    </ion-list>
</ion-content>