<ion-content>
    <ion-toolbar>
        <ion-card>
          <ion-img class="img" src="/assets/img/Logo.PNG" slot=""></ion-img>
        </ion-card>
        <form (ngSubmit)="login(forma)" #forma="ngForm">
          <ion-card>  
          <ion-item class="loginInput01">
                <ion-label>
                    Usuario
                </ion-label>
                <ion-input type="text" required ngModel #nameuser="ngModel" name="nameuser" placeholder="" maxLength="200" minLength="3"></ion-input>
            </ion-item>
            <ion-item class="loginInput01">
                <ion-label>
                    Contraseña
                </ion-label>
                <ion-input type="password" required ngModel #password="ngModel" name="password" placeholder="" maxLength="200" minLength="3"></ion-input>
            </ion-item>
            <ion-toolbar class="loginInput02">
             </ion-toolbar>
            <ion-toolbar>
               <ion-button type="submit" [disabled]="!forma.valid" size="block" Color="primary">  
              Entrar</ion-button>
            </ion-toolbar>
          </ion-card>
        </form>
    </ion-toolbar>
</ion-content>