<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/img/Logo.PNG" alt="" />
  </ion-card>
  <ion-card>
    <section style="text-align: center;">
      <h1><b>Login</b></h1>
    </section>
    <ion-list lines="none">
      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked"><b>Usuario</b>
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text"></ion-input>
              </ion-item>
            </ion-col><br>      
            <ion-col size="12">
                <ion-item>
                    <ion-label position="stacked"><b>Contraseña</b>
                      <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required type="password"></ion-input>
                  </ion-item>
            </ion-col>              
          </ion-row><br>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-button size="block" Color="primary">
        Login
    </ion-button> 
  </ion-card>  
</ion-content>
